<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../static/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script src="../static/js/base.js" th:src="@{/js/base.js}"></script>
</head>
<body>
	登录
	<form action="/user" method="GET">
		<input type="text" name="account" placeholder="account">
		<br>
		<input type="text" name="pass" placeholder="pass">
		<br>
		<input type="button" value="登录" name="submit">
	</form>
	<button onclick="location.href='/wxine'">第三方登录</button>
</body>
</html>