<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Calm breeze login screen</title>
  
  
  <script src="../static/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

  
</head>

<body>
  <div class="wrapper_register">
	<div class="container">
		<h1 id="head_banner_h1">注册</h1>
		
		<form class="form" action="/user" method="post">
			<div>
				<input type="text" name="aaccount" placeholder="用户名">
				<div style="color:red" data-error="account"></div>
				<input type="password" name="password" placeholder="密码">
				<div style="color:red" data-error="password"></div>
				<input type="password" name="password2" placeholder="确认密码">
				<div style="color:red" data-error="password2"></div>
			</div>
			<button type="button" id="login-button" name="submit">注册</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script  src="../static/js/index.js" th:src="@{/js/login.js}"></script>
	<script  src="../static/js/base.js"  th:src="@{/js/base.js}"></script>
</body>
</html>
