<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../static/js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<p th:each="userlist:${userlist}">
	<span id="user_id" th:text="${userlist.id}"></span>
	<span th:text="${userlist.account}"></span>
	<span onclick="deleteu(this)" style="color:red;cursor:pointer">删除</span>
</p>
</body>
<script>
	function deleteu(k){
		var user_id=$(k).parent().find('#user_id')[0].innerHTML;
		$.ajax({
			 url: '/delete_user',
			 type: 'POST',
			 data:{userid:user_id,_method:'DELETE'},
			 success: function(response) {
			 	if(response){
			 		alert('删除成功');
			 	}else{
			 		alert('删除失败');
			 	}
			 }
		});
	}
</script>
</html>